
body {
    background-color: #2e2e2e;
}

.fullContainer {
    margin-left: 0;
    display: flex;
    flex-direction: column;
}
.homeMessage{
    display: flex;
    color: yellow;
    text-shadow: 0 0 10px lawngreen;
    align-content: center;
    justify-content: center;
}
.homeMessage > h1 {
    font-size: 70px;
}


/* Tasks */
.todayList {
    margin-bottom: 60px;
}
.taskList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.task__container {
    display: flex;
    flex-direction: column;
    border: 1px solid yellow;
    box-shadow: 0 0 10px lawngreen;
    border-radius: 10px;
    width: 1000px;
    padding: 10px 20px;
    margin: 25px;
}

.task__header{
    display: flex;


}

.task__header-date {
    color: red;
    text-shadow: 0 0 10px greenyellow;
    padding-right: 10px;
}

.task-date {

}

.task__header-time {
    color: lawngreen;
    text-shadow: 0 0 10px blue;
    padding-right: 10px;
}

.task-time {

}

.task__header-title {
    color: yellow;
    text-shadow: 0 0 10px red;
    padding-right: 10px;
}

.task-title {

}
.task__body-details {
    display: flex;
    word-wrap: break-word;
}
.task-details {

    color: orange;
    text-shadow: 0 0 10px purple;
    padding-right: 10px;
}

.action__buttons {
    margin-top: 10px;
}

.action__buttons-edit {
    outline: 2px solid yellow;
    box-shadow: 0 0 10px lawngreen;
    margin-left: 30px;
    border-radius: 10px;
    padding: 10px;
}

.action__buttons-delete {
    outline: 2px solid yellow;
    box-shadow: 0 0 10px lawngreen;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;

}