<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org" xmls:layout="http://www.utlraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}">

</head>
<body>
<div layout:fragment="content">
    <div class="login__Content">
        <div class="content__welcome-message">
            <h1 th:text="${welcomeMessage}"></h1>
        </div>
        <div class="login-form">
            <div class="container">
                <form action="#" th:action="@{doLogin}" th:object="${loginData}" method="post">
                    <div class="row">
                        <div class="form-group">
                            <input class="form-control" type="text" id="task-title" th:field="*{username}" placeholder="Username">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <input class="form-control" type="text"  id="task-startTime" th:field="*{password}" placeholder="Password">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>